<div align="center">
  <h2>Welcome to My Portffolio</h2>
</div>

<div class="container mt-4 pt-4">
  <h1 class="text-center">About Me</h1>
  <div class="row mt-4">
      <div class="col-lg-4 card">
          <img class="card-img-top" src="http://d22y893cekuu8h.cloudfront.net/s_196c91736d09-2018-07-29-00-03-08-000847.jpg" class= "img-fluid w-100 p-3" alt="Responsive image">
      </div>

      <div class="col-lg-8">
          <p> I have just over a year of experience as a junior software engineer with First Technology. In my short time there, I've already contributed to over a dozen projects and assisted with managing one project for one of the firm's long-time clients.
          </p>
          <div class="row mt-3">
              <div class="col-md-6">
                  <ul>
                      <li>Name: Pankaj Masaye</li>
                      <li>Age: 24</li>
                      <li>Occupation: Backend Developer</li>

                  </ul>
              </div>
              <div class="col-md-6">
                  <ul>
                      <li>Mumbai</li>
                      <li>Male</li>
                      <li>Web Developer</li>

                  </ul>
              </div>
          </div>
          <div class="row mt-3">
              <p>Before my current position, I was a junior software engineer with Mobile First. While working there, I committed to mobile system development, which has been my specialty for seven years. I understand that a major part of this role with your firm focuses on leading mobile development teams, which my previous experience has certainly prepared me for
               <br> Prior to my senior role, I worked as a software engineer for First Technology and a programmer for Mobile First. Because I've already held all the other positions in this field, I have keen insight into what it takes to run a successful project. My career goal is to move into management as a CTO, and I know this role would help me hone my leadership skills.
              </p>

            </div>
      </div>
  </div>

  <br>
<hr>
<br>
  <section id="services">
    <div class="container">
        <h1 class="text-center">Services</h1>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class="fas servicesIcon fa-clock"></i>
                        <h4 class="card-title mt-3">Website Development</h4>
                        <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-layer-group'></i>
                        <h4 class="card-title mt-3">Website Design</h4>
                        <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='far servicesIcon fa-check-circle'></i>
                        <h4 class="card-title mt-3">Website Deployment</h4>
                        <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>  
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-search'></i>
                        <h4 class="card-title mt-3">SEO</h4>
                        <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-shield-alt'></i>
                        <h4 class="card-title mt-3">DevOps</h4>
                        <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-wrench'></i>
                        <h4 class="card-title mt-3">QA</h4>
                        <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>

<section id="kaka">
<div class="container-fluid">
  <!-- social media icons -->
  <div class="social-icons mt-4">
      <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.twitch.tv/" target="_blank"><i class="fab fa-twitch"></i></a>
  </div>
</div>
</section>
